.env
.env.*
!.env.example
!.env.testing
.git
.github
node_modules
public/hot
storage/app/private/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
